<launch>
    <group ns="stereo">
        <!-- Transform camera coordinates to world coordinates -->
        <arg name="pi/2" value="1.57079"/>
        <!--<arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)"/>-->
        <arg name="optical_rotate" value="0 0 0 0 0 0"/>
        <node pkg="tf" type="static_transform_publisher" name="camera_base_link"
            args="$(arg optical_rotate) base_link map 100"/>

        <!-- Generate a point cloud from the disparity image -->
        <node pkg="nodelet" type="nodelet" name="disparity2cloud" args="load rtabmap_ros/point_cloud_xyz stereo_nodelet">
            <remap from="disparity/image"       to="disparity"/>
            <remap from="disparity/camera_info" to="right/camera_info_throttle"/>
            <remap from="cloud"                to="cloudXYZ"/>
            
            <param name="voxel_size" type="double" value="0.05"/>
            <param name="decimation" type="int" value="4"/>
            <param name="max_depth" type="double" value="4"/>
        </node>

        <!-- Create point cloud for the local planner -->
        <node pkg="nodelet" type="nodelet" name="obstacles_detection" args="load rtabmap_ros/obstacles_detection stereo_nodelet">
            <remap from="cloud" to="cloudXYZ"/>
            <remap from="obstacles" to="/planner_cloud"/>

            <param name="frame_id" type="string" value="base_footprint"/>
            <param name="map_frame_id" type="string" value="base_link"/>
            <param name="min_cluster_size" type="int" value="20"/>
            <param name="max_obstacles_height" type="double" value="0.0"/>
        </node>
    </group>
</launch>